.warpper{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.choose{
    width: 100%;
    margin-bottom: 10px;
}
.warpper div{
    margin-right: 30px;
}
.warpper p{
    font-size: 16px;
    color: grey;
    margin-bottom: 10px;
}
textarea{
    border: 1px solid #999999;
    border-radius: 5px;
    /* height: 20px; */
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
textarea:focus{
    border: 1px solid #000000;
}
select{
    border: 1px solid #999999;
}
.title{
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
}
.title p{
    font-size: 16px;

}
.title p:last-child{
    font-size: 14px;
    margin-top: 5px;
    color: #666666;
}